# Folders
node_modules
/node_modules
/src
/tests
/.vscode


# Files
.env
.env.example
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
dcloack.json
jest.config.js
nodemon.json
tsconfig.json
yarn.lock

# Others
package-lock.json