# Folders
node_modules
/node_modules
/src
/tests
/.vscode
/.github


# Files
.env
.env.example
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
jest.config.js
tsconfig.json
yarn.lock

# Others
package-lock.json